body {
    background-color: #ccc;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: inline-block;
}

ol {
    list-style: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin 0px;
}

#wrapper {
    width: 535px;
    height: 268px;
    margin: 50px;
    padding: 15px;
    background-color: #000;
}

.backdrop {
    opacity: 0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*ie8*/
    filter: alpha(opacity=80);/*ie7*/
}

#content {
    font-family: 'Ubuntu', sans-serif;
    color: #2b82ad;
    font-size: 18px;
}

#content a {
    color: #4cb1e0;
    font-size: 16px;
    text-decoration: none;
}

#content h1 {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 0px;
}

#content h1 a {
    color: #fff;
    font-size: 48px;
}

#content img {
    border: 0px;
}

#bio {
  padding-bottom: 10px;
}

#icons {
  padding-bottom: 10px;
  text-align: center;
}

#icons li {
  display: inline;
}

#icons a {
  color: white;
}

#other {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#other li {
  display: inline;
}

#other li a {
  font-size: 12px;
  font-weight: normal;
  color: white;
}

.hidden {
    display: none;
}
