body {
    background-color: #000;
    background-image: url("http://imfxpg-sn3302.files.1drv.com/y2pF8LJRfWk2ZMI-HPDWzSDVCjDcINbgENDZS8udGU0lDfBJehhg68kU9dhcXrydfXuLR-ERqIsmUNcL2HWE9XNuXUdTGahCE-i-wPhB2-3Y1FJz3dXSUJuvOBfEc02sg9ifs3uGdvM6_jNrzaosRON2Q/leah_201503.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ol {
    list-style: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin 0px;
}

#wrapper {
    width: 535px;
    /* height: 500px; */
    margin: 50px;
    padding: 15px;
    background-color: #000;
}

.backdrop {
    opacity: 0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*ie8*/
    filter: alpha(opacity=80);/*ie7*/
}

#content {
    font-family: 'Ubuntu', sans-serif;
    color: #2b82ad;
    font-size: 18px;
}

#content a {
    color: #4cb1e0;
    font-size: 16px;
    text-decoration: none;
}

#content h1 {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 0px;
}

#content h1 a {
    color: #fff;
    font-size: 48px;
}

#content img {
    border: 0px;
}

#bio {
  padding-bottom: 10px;
}

#icons {
  padding-bottom: 10px;
}

#icons a {
  color: white;
}

#other {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#other li {
  display: inline;
}

#other li a {
  font-size: 12px;
  font-weight: normal;
}

.hidden {
    display: none;
}
